<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SomeServlet</servlet-name>
        <servlet-class>com.chillrend.zugticket.SomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>zugLogin</servlet-name>
        <servlet-class>com.chillrend.zugticket.zugLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>zugLogout</servlet-name>
        <servlet-class>com.chillrend.zugticket.zugLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>zugSignup</servlet-name>
        <servlet-class>com.chillrend.zugticket.zugSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>zugGetBooking</servlet-name>
        <servlet-class>com.chillrend.zugticket.zugGetBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifypassword</servlet-name>
        <servlet-class>com.chillrend.zugticket.verifypassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateuserdata</servlet-name>
        <servlet-class>com.chillrend.zugticket.updateuserdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageupload</servlet-name>
        <servlet-class>com.chillrend.zugticket.imageupload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imagedisplay</servlet-name>
        <servlet-class>com.chillrend.zugticket.imagedisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>railpass</servlet-name>
        <servlet-class>com.chillrend.zugticket.railpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>railPassInvoice</servlet-name>
        <servlet-class>com.chillrend.zugticket.railPassInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>printPass</servlet-name>
        <servlet-class>com.chillrend.zugticket.printPass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>printPass</servlet-name>
        <url-pattern>/printPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>railPassInvoice</servlet-name>
        <url-pattern>/railPassInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>railpass</servlet-name>
        <url-pattern>/railpass/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imagedisplay</servlet-name>
        <url-pattern>/imagedisplay/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imageupload</servlet-name>
        <url-pattern>/imageupload/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SomeServlet</servlet-name>
        <url-pattern>/SomeServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zugLogin</servlet-name>
        <url-pattern>/zugLogin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zugLogout</servlet-name>
        <url-pattern>/zugLogout/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zugSignup</servlet-name>
        <url-pattern>/zugSignup/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zugGetBooking</servlet-name>
        <url-pattern>/zugGetBooking/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifypassword</servlet-name>
        <url-pattern>/verifypassword/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateuserdata</servlet-name>
        <url-pattern>/updateuserdata/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
